<!DOCTYPE html>
<html lang="en">


<head>
    <title>Tumaini Senior Secondary School | Academics</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
</head>

<body>

    <!-- MOBILE MENU -->

    <!--END HEADER SECTION-->
    <%- include("../clientPartials/headertwo.ejs") %>


        <!--SECTION START-->
        <section>
            <div class="container com-sp pad-bot-70 pg-inn">
                <div class="row">
                    <div class="cor">
                        <div class="col-md-6">
                            <div class="cor-mid-img">
                                <img src="/client/Tuma/photos/discussion.jpg" alt="">
                            </div>
                            <div class="cor-con-mid">
                                <div class="cor-p1">
                                    <h2>Academics review</h2>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School provides high quality education to its
                                        students. The school has both <strong>Ordinary</strong> and <strong>Advanced</strong> level.
                                        The year 2019, Tumaini Senior Secondary School produced their
                                        first form four graduates that completed their O-level ready to proceed with higher
                                         education levels, in 2020 Tumaini Senior Secondary School (TSSS) gave birth to a high school named after it,
                                         and that is Tumaini Senior High School (TSHS).
                                        Tumaini Senior Secondary School does not only makes students better in class
                                        but also in other extra curriculum activities outside the class.

                                    </p>
                                    <p>Availability of learning material such as books and tablets with scanned books
                                        helps students read more and ahead of the teachers. They are adequate books in
                                        school that students gain easily filled with simple learning notes. The books help
                                        students emphasize on what they are taught in class. Students get the questions 
                                        which makes them understand more from books.</p>
                                </div>
                                <blockquote>Through Morning speaking, Debating and Spelling bees competitions students
                                    becomes acquainted in Grammar.</blockquote>
                                <p>Tumaini Senior Secondary School have quality teachers and always available for
                                    students to consult all the time. All the teachers in school are very qualified
                                    with good teaching techniques for students to understand better. Teachers are
                                    very friendly that students can ask anything freely until
                                    they are well equipped with the concept.</p>

                                <p>Tumaini Senior Secondary School will pursue excellence in all areas whether examine
                                    or not and provide a rich and broad education for all students whatever their
                                    specialism. Students will be able to enjoy a wide range of opportunities including
                                    an increase number of option choices that augment the core curriculum. This range of
                                    subjects are taught in accordance to the syllabus recommended by the United Republic
                                    of Tanzania (Ministry Of Education Science and Vocational Training).</p>

                                <blockquote>The school timetable provides an entire extra days worth of taught lessons.
                                    In addition, the extra-curricular program includes a large number of academic,
                                    non-academic and sports-based clubs.</blockquote>

                                <p>The Conduction of Debate and Mdahalo which helps students improve confidence to speak
                                    their views in front of people. Debate helped students educate their societies on
                                    the problems facing in them with maximum confidence.,Students gain new concepts and even experience especially in the
                                    social subjects.</p>

                                <p>Students attend personal studies and group discussion. These sessions helps students
                                    equip themselves to overcome where difficult during the group
                                    discussions in order to get the most correct solutions and more clarification on the concepts.
                                </p>


                                <p>Good Performance to students is due to Good provision of learning materials such as
                                    books and tablets makes students perform very well in joint, internal, external
                                    and national examination. Teachers are very strict on the academic matters
                                     and even come up with new teaching skills
                                    for the best performance of our students. Due to that Tumaini Senior Secondary School
                                    produce most performed students in the district and Regional level.</p>

                                <blockquote>Tumaini Senior Secondary School supports 12 subjects but 2 of them are extra-curriculum
                                    subjects. The core Subjects include; <strong><b>Mathematics,
                                        English (Structure & Literature), Kiswahili, Biology, Physics, Chemistry, Civics,
                                        History,Geography and Information, Communication
                                        And Technology(ICT).</b></strong> The extra-currriculum subjects include;
                                         <strong><b>Science, Technology, Engineering and Mathematics(STEM) and
                                            Project Based Learning(PBL).</b></strong></blockquote>

                                <p><strong><b>Educational and Social Trips.</b></strong> Our students are offered Trips
                                to various places in Tanzania including; NATIONAL PARKS (i.e Ngorongoro crater, Lake manyara Nationa Park,
                                Tarangire national Park and Serengeti National Park), AIRPORTS (i.e Kilimanjaro
                                international Airport and, Arusha airport and Lake Manyara National park Airport).
                                Also in 2020 before COVID 19 spread four (4) of our students went for A Trip 
                                to <strong><b>UNITED STATES OF AMERICA</b></strong> in strong partnership 
                                with ,<a href=""><strong><b>GOULD ACADEMY</b></strong></a> in MAINE
                                

                                </p>
                                <div class="cor-mid-img">
                                    <img src="/client/Tuma/photos/scout.png" alt="">
                                </div>
                                <p>Tumaini Senior Secondary School conducts different social activities and engage
                                    in very many clubs which are always compulsory to let the students be aware of 
                                    everything happening on the living world.The clubs
                                    include: Prevention and combustion of Corruption Bureau (PCCB) club, Science club, 
                                    Drama club, Scout & club Girl guide Club, Red Cross Club, Information, Communication and Technology Club, Environmental
                                    Club, FEMA club and many other social Clubs. This clubs were introduced since the 
                                    school opened. The school is still registering new clubs according to students requests</p>
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>National Results</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://matokeo.necta.go.tz/results2021/csee/results/s5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Certificate Of Sec.
                                                        Education Examination (CSEE)</h4>
                                                </a>
                                                <a href="https://matokeo.necta.go.tz/results2021/ftna/S5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Form Two National
                                                        Assessment (FTNA)</h4>
                                                </a>
                                                <span>2021</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2020</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2019</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.tanzania.go.tz/FTNA-2018/ftna2018/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2018</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.necta.go.tz/results/2017/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2017</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>Academics Updates</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <% if(listedAcademicUpdates){ %>
                                            <% listedAcademicUpdates.forEach(update=>{ %>
                                                <li>
                                                    <div class="ho-ev-link ho-ev-link-full">
    
                                                        <a href="/updates/<%= update.id%>">
                                                            <h4><img src="/client/Tuma/photos/new.gif"><%= update.title%></h4>
                                                        </a>
                                                        <blockquote>
                                                            <%= update.snippet%>
                                                        </blockquote>
                                                        <span>UPDATED ON:<%= String(update.createdAt).slice(0, 16) %></span>
                                                    </div>
                                                </li>
                                                <%})%>
                                                    <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SECTION END-->

        <!--HEADER SECTION-->
        <%- include("../clientPartials/footer.ejs") %>


</body>


</html>