<!DOCTYPE html>
<html lang="en">


<head>
    <title>Tumaini Senior Secondary School | Home</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/images/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <!--END HEADER SECTION-->

    <!-- SLIDER -->
    <%- include("../clientPartials/headertwo.ejs") %>
        <section>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slider1 active">
                        <img src="/client/Tuma/photos/backg1.png" alt="">
                        <div class="carousel-caption slider-con">
                            <h2>Welcome to <span>Tumaini Senior High School</span></h2>
                            <p>"Together We Exel"</p>
                            <a href="/about" class="bann-btn-1">About Us</a><a href="/about" class="bann-btn-2">Read
                                More</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/client/Tuma/photos/backg2.png" alt="">
                        <div class="carousel-caption slider-con">
                            <h2>Come Improve your <span>talents</span></h2>
                            <p>Tumaini Senior Secondary School</p>
                            <a href="/sport" class="bann-btn-1">Sports & Games</a><a href="/sport"
                                class="bann-btn-2">Read More</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/client/Tuma/photos/backg2.png" alt="">
                        <div class="carousel-caption slider-con">
                            <h2>Attain Good <span>Performance</span></h2>
                            <p>Tumaini Senior Secondary School</p>
                            <a href="/contact" class="bann-btn-1">Contact Us</a><a href="/contact"
                                class="bann-btn-2">Read More</a>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-chevron-left slider-arr"></i>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <i class="fa fa-chevron-right slider-arr"></i>
                </a>
            </div>
        </section>

        <!-- DISCOVER MORE -->
        <section>
            <div class="container com-sp pad-bot-70">
                <div class="row">
                    <div class="con-title">
                        <h2>Discover <span>More</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="ed-course">
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/academic">
                                    <img src="/client/Tuma/photos/discussion.jpg" alt="">
                                    <span>Academics</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/course">
                                    <img src="/client/Tuma/photos/complab.jpg" alt="">
                                    <span>Course</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/library">
                                    <img src="/client/Tuma/photos/complab.jpg" alt="">
                                    <span>Library</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/laboratory">
                                    <img src="/client/Tuma/photos/chemlab.jpg" alt="">
                                    <span>Laboratory</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/projects">
                                    <img src="/client/Tuma/photos/farm.png" alt="">
                                    <span>Projects</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/sport">
                                    <img src="/client/Tuma/photos/sports.png" alt="">
                                    <span>Sports and Games</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/partnership">
                                    <img src="/client/Tuma/photos/service.png" alt="">
                                    <span>Partnership</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="ed-course-in">
                                <a class="course-overlay" href="/service">
                                    <img src="/client/Tuma/photos/transport.png" alt="">
                                    <span>Services</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- counts-->

        <!-- end counts-->

        <section class="pop-cour">
            <div class="container com-sp pad-bot-70">
                <div class="row">
                    <div class="con-title">
                        <h2>Our <span>Staff</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <!--POPULAR COURSES-->

                            <!--POPULAR COURSES-->


                            <% if(staffs.length  > 1) {%>
                                <% staffs.slice(0, staffsDivisionPoint).forEach(staff=> { %>

                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <div class="col-md-3"> <img src="<%= staff.pictureiD %>" alt=""> </div>
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-9 home-top-cour-desc">
                                            <a href="/staffs">
                                                <h3>
                                                    <%= staff.title %>. <%= staff.firstname %>
                                                            <%= staff.lastname %>
                                                </h3>
                                            </a>
                                            <h4>
                                                <%= staff.roles %>
                                            </h4>
                                            <p>
                                                <%= staff.subjects %> 
                                            </p>
                                        </div>
                                    </div>

                                    <%})%>
                                        <%}%>

                        </div>
                    </div>
                    <div class="col-md-6">


                        <!--POPULAR COURSES-->

                        <!--POPULAR COURSES-->
                        <% if(staffs.length > 1) {%>
                            <% staffs.slice(staffsDivisionPoint, staffs.length-1).forEach(staff=> { %>

                                <div class="home-top-cour">
                                    <!--POPULAR COURSES IMAGE-->
                                    <div class="col-md-3"> <img src="<%= staff.pictureiD %>" alt=""> </div>
                                    <!--POPULAR COURSES: CONTENT-->
                                    <div class="col-md-9 home-top-cour-desc">
                                        <a href="/staffs">
                                            <h3>
                                                <%= staff.title %>. <%= staff.firstname %>
                                                        <%= staff.lastname %>
                                            </h3>
                                        </a>
                                        <h4>
                                            <%= staff.roles %>
                                        </h4>
                                        <p>
                                            <%= staff.subjects %> Teacher
                                        </p>
                                    </div>
                                </div>

                                <%})%>
                                    <%}%>
                                    <% if(staffs.length > 1) {%>

                                        <div class="home-top-cour">
                                            <!--POPULAR COURSES IMAGE-->
                                            <div class="col-md-3"> <img src="<%= staffs[staffs.length-1].pictureiD %>"
                                                    alt=""> </div>
                                            <!--POPULAR COURSES: CONTENT-->
                                            <div class="col-md-9 home-top-cour-desc">
                                                <a href="/staffs">
                                                    <h3>
                                                        <%= staffs[staffs.length-1].title %>. <%=
                                                                staffs[staffs.length-1].firstname %>
                                                                <%= staffs[staffs.length-1].lastname %>
                                                    </h3>
                                                </a>
                                                <p>
                                                    <%= staffs[staffs.length-1].roles %> & <%=
                                                            staffs[staffs.length-1].subjects %>Teacher
                                                </p>
                                            </div>
                                            
                                        </div>
                                        <%}%>
                                        <div class="hom-list-share">
                                            <ul>
                                                <li><a href="/staffs"><i class="fa fa-people"
                                                            aria-hidden="true"></i> See More</a> </li>
                                            </ul>
                                        </div>
                    </div>

                </div>
            </div>

        </section>



        <section class="pop-cour">
            <div class="container com-sp pad-bot-70">
                <div class="row">
                    <div class="con-title">
                        <h2>News & <span>Updates</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <% if(news.length > 1) {%>
                                <% news.slice(0, newsDivisionPoint).forEach(newd=> { %>

                                    <div class="home-top-cour">
                                        <!--POPULAR COURSES IMAGE-->
                                        <!-- <div class="col-md-3"> <img src="/client/Tuma/staff/5010.png" alt=""> </div> -->
                                        <!--POPULAR COURSES: CONTENT-->
                                        <div class="col-md-12 home-top-cour-desc">
                                            <a href="/updates/<%= newd.id %>">
                                                <h4 style="display: inline;">
                                                    <img src="/client/Tuma/photos/new.gif"
                                                        style="width: 10%; height: 10%;">
                                                    <%= newd.title %>.
                                                </h4>
                                            </a>
                                            <h4>
                                                <%= newd.snippet %>
                                            </h4>
                                            <p>Released At: <%= String(newd.createdAt).slice(0, 16) %>
                                            </p>
                                        </div>
                                    </div>

                                    <%})%>
                                        <%}%>
                        </div>
                    </div>
                    <div class="col-md-6">


                        <% if(news.length > 1) {%>
                            <% news.slice(newsDivisionPoint, news.length-1).forEach(newd=> { %>

                                <div class="home-top-cour">
                                    <!--POPULAR COURSES IMAGE-->
                                    <!-- <div class="col-md-3"> <img src="/client/Tuma/staff/5010.png" alt=""> </div> -->
                                    <!--POPULAR COURSES: CONTENT-->
                                    <div class="col-md-12 home-top-cour-desc">
                                        <a href="/updates/<%= newd.id %>">
                                            <h4 style="display: inline;">
                                                <img src="/client/Tuma/photos/new.gif" style="width: 10%; height: 10%;">
                                                <%= newd.title %>.
                                            </h4>
                                        </a>
                                        <h4>
                                            <%= newd.snippet %>
                                        </h4>
                                        <p>Released At: <%= String(newd.createdAt).slice(0, 16) %>
                                        </p>
                                    </div>
                                </div>

                                <%})%>
                                    <%}%>



                                    <% if(news.length  > 1 ) {%>

                                        <div class="home-top-cour">
                                            <!--POPULAR COURSES IMAGE-->

                                            <!--POPULAR COURSES: CONTENT-->
                                            <div class="col-md-9 home-top-cour-desc">
                                                <a href="/updates/<%= news[news.length-1].id%>">
                                                    <h4 style="display: inline;">
                                                        <img src="/client/Tuma/photos/new.gif"
                                                            style="width: 10%; height: 10%;">
                                                        <%= news[news.length-1].title %>.
                                                            </h4>
                                                </a>
                                                <h4>
                                                    <%= news[news.length-1].snippet %> & Released At: <%=
                                                            String(news[news.length-1].createdAt).slice(0, 16) %>

                                                </h4>
                                            </div>
                                        </div>

                                        <%}%>
                                        <div class="hom-list-share">
                                            <ul>
                                                <li><a href="/updates"><i class="fa fa-people"
                                                            aria-hidden="true"></i> See More</a> </li>
                                            </ul>
                                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- POPULAR COURSES -->

        <!-- NEWS AND EVENTS -->
        <section>
            <div class="container com-sp">
                <div class="row">
                    <div class="con-title">
                        <h2>Events and <span>Results</span></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="bot-gal h-gal ho-event-mob-bot-sp">
                            <h4>Photo Gallery</h4>
                            <ul>
                                <% if(images.length  > 1 ) {%>
                                    <% images.forEach(image => { %>
                                        <li><img class="materialboxed" data-caption="<%= image.eventname %>" src="<%= image.imagename %>"
                                            alt="">
                                    </li>
                                    <%})%>

                                <%} %>
                                
                           
                            </ul>
                        </div>
                        <a style="display: inline-block;  padding: 10px 25px;" href="/gallery" class="bann-btn-1"> See More in Gallery</a>
                    </div>
                    <div class="col-md-4">
                        <div class="bot-gal h-vid ho-event-mob-bot-sp">
                            <h4>Video Gallery</h4>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qqabzUCoDsI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <h5>On going projects in Tumaini</h5>
                            <p>Their different projects that a taken into action with our students with the help of
                                their teachers inluding Livestock keeping, garden cultivation, rabbit and dove
                                domestication. <a href="projects.html">Read more...</a></p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/-e5kXxQqDN8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <h5>Graduation Ceremony Song 2021 </h5>
                            <p>The Third graduation ceremony with took place from late november. The form four leaver
                                came up with a souling and uplifting song to other <s></s>tudents.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cor-side-com">
                            <div class="">
                                <div class="de-left-tit">
                                    <h4>National Results</h4>
                                </div>
                            </div>
                            <div class="ho-event">
                                <ul>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="https://matokeo.necta.go.tz/results2021/csee/results/s5493.htm">
                                                <h4><img src="/client/Tuma/photos/new.gif">Certificate Of Sec. Education
                                                    Examination (CSEE)</h4>
                                            </a>
                                            <a href="https://matokeo.necta.go.tz/results2021/ftna/S5493.htm">
                                                <h4><img src="/client/Tuma/photos/new.gif">Form Two National Assessment
                                                    (FTNA)</h4>
                                            </a>
                                            <span>2021</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="https://onlinesys.necta.go.tz/results/2020/csee/results/s5493.htm">
                                                <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                            </a>
                                            <a href="https://onlinesys.necta.go.tz/results/2020/ftna/results/S5493.htm">
                                                <h4>Form Two National Assessment (FTNA)</h4>
                                            </a>
                                            <span>2020</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="https://onlinesys.necta.go.tz/results/2019/csee/results/s5493.htm">
                                                <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                            </a>
                                            <a href="https://onlinesys.necta.go.tz/results/2019/ftna/results/S5493.htm">
                                                <h4>Form Two National Assessment (FTNA)</h4>
                                            </a>
                                            <span>2019</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="https://www.tanzania.go.tz/FTNA-2018/ftna2018/S5493.htm">
                                                <h4>Form Two National Assessment (FTNA)</h4>
                                            </a>
                                            <span>2018</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ho-ev-link ho-ev-link-full">
                                            <a href="https://www.necta.go.tz/results/2017/ftna/results/S5493.htm">
                                                <h4>Form Two National Assessment (FTNA)</h4>
                                            </a>
                                            <span>2017</span>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include("../clientPartials/footer.ejs") %>
</body>

</html>