<!DOCTYPE html>
<html lang="en">


<head>
    <title>Library | Tumaini Senior Secondary School</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->

    <!--END HEADER SECTION-->
    <%- include("../clientPartials/headertwo.ejs") %>


        <!--SECTION START-->
        <section>
            <div class="container com-sp pad-bot-70 pg-inn">
                <div class="row">
                    <div class="cor">
                        <div class="col-md-6">
                            <div class="cor-mid-img">
                                <img src="/client/Tuma/photos/library.jpg" alt="">
                            </div>
                            <div class="cor-con-mid">
                                <div class="cor-p1">
                                    <h2>School Library</h2>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School consists of two libraries..
                                         These includes curriculum books library and the main books library
                                        which are separated from each other.</p>

                                    <p>The <b>Main</b> Books library, the library was opened in April 2019, It
                                        has many books: Fiction, Series, African books, biographies, history books,
                                        books about science, geography books, graphic novels, and art books. Students
                                        can learn about the world around them, with books plants, animals and the human
                                        body, or read story books for a break from work.</p>

                                    <p>The Library is open from Monday to Saturday from 10AM until 4PM. 
                                        Students go to the library to read, draw, and play
                                        games with friends. Every Student is allowed to check out books for 3days.
                                         Their reading is tracked by the librarian in a school reading log to see
                                        which forms read the most books. Also there is a favorite "Book of The Month"
                                        selected by a student each month. These many programs and opportunities get
                                        students excited about reading and many students spend long hours here. The
                                        library hold a capacity of 55 students at a time.</p>

                                    <p>The <b>curriculum</b> library is the educational library is mainly intended for
                                        learning textbooks basing on the subjects' Syllabus. The library is under
                                        control of a Librarian who is in charge of signing in and out of the textbooks. 
                                        The books available in the
                                        library are from different writers and publishers all over the world
                                        including Oxford, Longhorn and many other books. Also, It contains literary work
                                        books which allows students equip themselves in the literary work or literature
                                        lesson.</p>

                                    <p><blockquote>
                                        <b>N/B:</b><br>
                                        The Libraries consists plenty of books.<br>
                                        The main Library consists of over 5,000 books  and <br>
                                        The curriculum Library consists of over 2,000 books.
                                         </blockquote></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>National Results</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://matokeo.necta.go.tz/results2021/csee/results/s5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Certificate Of Sec. Education
                                                        Examination (CSEE)</h4>
                                                </a>
                                                <a href="https://matokeo.necta.go.tz/results2021/ftna/S5493.htm">
                                                    <h4><img src="/client/Tuma/photos/new.gif">Form Two National
                                                        Assessment (FTNA)</h4>
                                                </a>
                                                <span>2021</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2020/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2020</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/csee/results/s5493.htm">
                                                    <h4>Certificate Of Sec. Education Examination (CSEE)</h4>
                                                </a>
                                                <a
                                                    href="https://onlinesys.necta.go.tz/results/2019/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2019</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.tanzania.go.tz/FTNA-2018/ftna2018/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2018</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ho-ev-link ho-ev-link-full">
                                                <a href="https://www.necta.go.tz/results/2017/ftna/results/S5493.htm">
                                                    <h4>Form Two National Assessment (FTNA)</h4>
                                                </a>
                                                <span>2017</span>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>IMPORTANT</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <% if(listedlibUpdates){ %>
                                            <% listedlibUpdates.forEach(update=>{ %>
                                                <li>
                                                    <div class="ho-ev-link ho-ev-link-full">
    
                                                        <a href="/updates/<%= update.id%>">
                                                            <h4><img src="/client/Tuma/photos/new.gif"><%= update.title%></h4>
                                                        </a>
                                                        <blockquote>
                                                            <%= update.snippet%>
                                                        </blockquote>
                                                        <span>UPDATED ON:<%= String(update.createdAt).slice(0, 16) %></span>
                                                    </div>
                                                </li>
                                                <%})%>
                                                    <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </section>
        <!--SECTION END-->

        <!--HEADER SECTION-->
        <%- include("../clientPartials/footer.ejs") %>

</body>


</html>