<!DOCTYPE html>
<html lang="en">


<head>
    <title>Partnership | Tumaini Senior Secondary School</title>
    <!-- META TAGS -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
        content="<b>Our Mission</> is to create well disciplined, independent and hardworking
        people. God says For Lack of knowledge my people perish therefore Tumaini
        Senior Secondary School is designed to provide quality and applicable
        knowledge, with the aim of better living, minimizing poverty, diseases and
        fighting ignorance.">
    <meta name="keyword"
        content="">
    <!-- FAV ICON(BROWSER TAB ICON) -->
    <link rel="shortcut icon" href="/client/Tuma/photos/school.png" type="image/x-icon">
    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700%7CJosefin+Sans:600,700"
        rel="stylesheet">
    <!-- FONTAWESOME ICONS -->
    <link rel="stylesheet" href="/client/Tuma/css/font-awesome.min.css">
    <!-- ALL CSS FILES -->
    <link href="/client/Tuma/css/materialize.css" rel="stylesheet">
    <link href="/client/Tuma/css/bootstrap.css" rel="stylesheet" />
    <link href="/client/Tuma/css/style.css" rel="stylesheet" />
    <!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
    <link href="/client/Tuma/css/style-mob.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>

<body>

    <!-- MOBILE MENU -->
    <%- include("../clientPartials/headertwo.ejs") %>


        <!--END HEADER SECTION-->

        <!--SECTION START-->
        <section>
            <div class="container com-sp pad-bot-70 pg-inn">
                <div class="row">
                    <div class="cor">
                        <div class="col-md-8">
                            <div class="cor-mid-img">
                                <img src="/client/Tuma/photos/p8.png" alt="">
                            </div>
                            <div class="cor-con-mid">
                                <div class="cor-p1">
                                    <h2>Our Partnership</h2>
                                </div>
                                <div class="cor-p4">
                                    <p>Tumaini Senior Secondary School has a relationship with foreign school and
                                        neighboring school in both academics matters and other manual activities.
                                        Tumaini
                                        Senior Secondary School has a relationship with Gould Academy and World
                                        Leadership
                                        Program.</p>

                                    <p>Tumaini Senior Secondary School connects two groups the one of Tumaini Senior
                                        Secondary School Students and Gould Academy students by choosing students who
                                        are
                                        interests, disciplined and cooperative also through provision of a test which is
                                        concerned with the social problems in the society and how to overcome them in
                                        which
                                        students reply on how to overcome the problem facing the society. The total and
                                        maximum number of participants is 10 students which are selected from form one
                                        only.
                                    </p>

                                    <blockquote>Tumaini Senior Secondary School is with connection with broad school and
                                        programs which include Gould Academy and World Leadership Program.</blockquote>

                                    <p>The Gould Trip begins after the arrival of the Gould Academy students from United
                                        States (US), directly to Tumaini Senior Secondary School. On their arrival, The
                                        two
                                        groups introduce themselves and every student is given a partner which hill
                                        direct
                                        his/her partner to get to know the environment.</p>

                                    <p>Every morning in school, the groups perform manual activities such as planting
                                        trees,
                                        involved in construction and watering trees around the school and after have
                                        their
                                        meal which is well prepared by professional chefs. The Students have a visit to
                                        Bead
                                        by Bead and to the society to know more about the problems facing the society
                                        and
                                        record.</p>

                                    <p>After four day later in school, the group leave from school and visit to
                                        different
                                        wildlife such as Serengeti National Park and Ngorongoro Conservation Area, also
                                        have
                                        a visit to the National Historical Site, Olduvai Gorge for about three days. The
                                        group also visit Maasai Community and get to know on the way of life and have
                                        traditional food from Maasai people. The group goes for a homestay with the
                                        partner
                                        for about three days and back again to Eyasi Lodge for swimming and have their
                                        luxury meals in the lodge.</p>

                                    <blockquote>After a long walk, the two groups say bye top each other but this takes
                                        about 12 days. The groups return to their schools for learning progress.
                                    </blockquote>

                                    <p>Also, Tumaini Senior Secondary school has a connection with World Leadership
                                        which is
                                        mostly organized to train and teach students on how to be a good leader. The
                                        group
                                        have a visit to different areas such as Bead by Bead and have entertainment
                                        about
                                        the actions of the leaders worldwide. Also, the group have a visit to Ngorongoro
                                        Conservation Area. Lastly for a homestay with their partners. After the
                                        homestay,
                                        The Group say bye to each other and returns to school.</p>

                                    <p>Not only foreign schools, Tumaini Senior Secondary School has a close
                                        relationship
                                        with the neighboring schools in both academics and sports issues. Tumaini Senior
                                        Secondary School have a competition with Tumaini Senior Secondary School are
                                        Lowassa
                                        Secondary School, Rift Valley Secondary School, Mungere Secondary School and
                                        many
                                        other secondary schools that neighbors Tumaini Senior Secondary School.</p>

                                    <p>Always the partnership of Tumaini Senior Secondary School is strengthened in
                                        order to
                                        create a friendship and cooperation among schools. </p>

                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-4">
                            <div class="cor-side-com">
                                <div class="">
                                    <div class="de-left-tit">
                                        <h4>Partnership Updates</h4>
                                    </div>
                                </div>
                                <div class="ho-event">
                                    <ul>
                                        <% if(listedpartUpdates){ %>
                                            <% listedpartUpdates.forEach(update=>{ %>
                                                <li>
                                                    <div class="ho-ev-link ho-ev-link-full">
    
                                                        <a href="/updates/<%= update.id%>">
                                                            <h4><img src="/client/Tuma/photos/new.gif"><%= update.title%></h4>
                                                        </a>
                                                        <blockquote>
                                                            <%= update.snippet%>
                                                        </blockquote>
                                                        <span>UPDATED ON:<%= String(update.createdAt).slice(0, 16) %></span>
                                                    </div>
                                                </li>
                                                <%})%>
                                                    <%}%>
                                    </ul>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>
        <!--SECTION END-->

        <!--HEADER SECTION-->
        <%- include("../clientPartials/footer.ejs") %>


</body>


</html>